* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
/* Header */
header {
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
img#genbrun-logo {
    width: 90px;
    display: flex;
    float: left;
    margin-left: 10px;
}
img#burger-menu {
    width: 50px;
    height: 50px;
    display: block;
    float: right;
    margin-right: 10px;
}
/* End Header */
main {
    background-image: url(images/genbrun4ibsoerensen.png);
    height: 500px;
    background-position: center;
    text-align: center;
    color: white;
    align-items: center;
    
}
#txt {
    margin: 180px 0px;
    
}
h1 {
    font-family: "MADE Sunflower";
    font-size: 39px;
}
h3 {
    font-family: sans-serif;
    
}
#find-us {
    width: 150px;
}
#new-arrivals-graphic {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#ig-feed {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.ig-pictures {
    width: 170px;
    margin: 5px;
}
.flex {
    padding: 20px;
}
.flexcontainer {
    color: rgb(110,86,77);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
p.flexcontainer {
    font-family: sans-serif;
    margin: auto;
}
/* Footer */
footer {
    background-color: rgb(110,86,77);
    color: white;
    display: flex;
    font-size: 10px;
	
}
section#footer {
	margin: auto;
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	justify-content: space-between;
}
section#left {
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	max-width: 200px;
}
section#right {
	margin-top: 10px;
	float: right;
	margin-left: -20px;
}
section#logos {
    padding: 45.5px 10px;
    align-items: center;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
}
#ig {
    min-width: 30px;
    height: 30px;
    
}
#fb {
    height: 30px;
	min-width: 15px;
    margin-left: 6px;
}
/* End Footer */
@media only screen and (min-width: 426px) {
	img#genbrun-logo {
		margin-left: 3vw;
	}
	img#burger-menu {
		margin-right: 3vw;
	}
	section#footer {
		font-size: 15px;
		padding: 10px;
		padding-bottom: 15px;
	}
	section#left {
		margin-right: 8vw;
	}
	section#logos {
		margin-left: 5vw;
	}
    a:hover
}