* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
body {
    background-color: rgb(110,86,77);
}
img {
    height: 40px;
    margin: 0px 7px;
}
#fb {
    margin-right: 9px;
}
section#images {
    align-items: center;
    margin: auto;
    display: block;
    justify-content: space-between;
}
ul {
    text-align: center;
    align-items: center;
    
}
h1 {
    color: white;
    margin: 50px 0px;
    font-size: 27px;
}
a {
    text-decoration: none;
}