* {
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
body {
    background-color: rgb(110,86,77);
}
#images {
    height: 40px;
    margin: 0px 7px;
}
#fb {
    margin-right: 9px;
    height: 20px;
    width: 20px;
}
#ig {
    height: 20px;
    width: 20px;
}
section#images {
    align-items: center;
    margin: auto;
    display: block;
    justify-content: space-between;
}
ul {
    text-align: center;
    align-items: center;
    margin: auto;
}
ul#menu {
    border-top: 2px solid white;
    width: 75%;
}
#genbrun {
    width: 100px;
    margin-left: 52px;
}
h1 {
    color: white;
    margin: 50px 0px;
    font-size: 22px;
    font-family: "MADE Sunflower";
    letter-spacing: 3.5px;
}
h2 {
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}
a {
    text-decoration: none;
}
@media only screen and (min-width: 426px) {

}